body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #000;
    font-size: 85px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    text-align: center;
    background: #00b7ff;
}